.be-af-ctrl {
	> li { display: inline-block; margin-right: 20px;
		&:last-child { margin-right: 0; }

		a { color: inherit; }
	}
}

.ba-ct-btn { display: inline-block;
	> * { display: inline-block; vertical-align: middle; margin-right: 8px;
		&:last-child { margin-right: 0; }
	}
}