.bn-link { position: relative; display: block; padding: 30px 25px; color: $coGray3; border-bottom: 1px solid $coGray3; @extend h4;
	&:after { content: '\f105'; display: block; position: absolute; top: 50%; right: 25px; font-family: $FontAwesome; font-weight: 300; --x: 0; --y: -50%; transform: translate3d(var(--x),var(--y),0); transition: transform 0.5s; }

	&:hover { color: $coMossGreen;
		&:after { --x: 15px; }
	}

	@include breakpoint(tablet2) { padding: 24px 15px; }
	@include breakpoint(mobile) { padding: 24px 0; 
		&:after { right: 15px; }
	}
}

.bo-no-links {
	> li {
		a { @extend .bn-link; }
	}
}