.button { display: inline-block;
	&-primary { min-width: 137px; min-height: 38px; padding: 8px 15px; background-color: $coOrange; color: $coWhite; border: none; border-radius: 29px; text-align: center; font-weight: 900; font-size: 15px;
		&:hover, &:focus { background-color: darken($coOrange, 10%); color: $coWhite; }

		@include breakpoint(tablet2) { min-height: 0; padding-top: 10px; padding-bottom: 10px; font-size: 12px; }
		@include breakpoint(mobile) { min-width: 110px; padding-top: 8px; padding-bottom: 8px; }
	}

	&-medium { min-width: 183px; min-height: 53px; padding-top: 14px; padding-bottom: 14px; font-size: 18px;
		@include breakpoint(mobile) { }
	}
	&-large { min-width: 242px; min-height: 57px; padding-top: 14px; padding-bottom: 14px; font-size: inherit;
		@include breakpoint(tablet2) { min-width: 200px; min-height: 0; padding-top: 12px; padding-bottom: 12px; }
	}

	&-short { min-width: 98px; }

	&-green { background-color: $coMossGreen2; color: $coWhite;
		&:hover, &:focus { background-color: darken($coMossGreen2, 10%); color: $coWhite; }
	}

	&:active, &:focus { outline: none !important; }
}