// include all imported fonts here even google fonts
@charset 'utf-8';
/** font face **/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400&display=swap');

@font-face {
    font-family: 'ITC Benguiat';
    src: url('../fonts/BenguiatStdBold.eot');
    src: url('../fonts/BenguiatStdBold.eot') format('embedded-opentype'),
         url('../fonts/BenguiatStdBold.woff2') format('woff2'),
         url('../fonts/BenguiatStdBold.woff') format('woff'),
         url('../fonts/BenguiatStdBold.ttf') format('truetype'),
         url('../fonts/BenguiatStdBold.svg#BenguiatStdBold') format('svg');
    font-weight: bold;
}

.font-a { font-family: 'Lato', 'Helvetica', 'Calibri'; }
.font-b { font-family: 'Roboto', 'Helvetica', 'Calibri'; }
.font-c { font-family: 'ITC Benguiat', 'Helvetica', 'Calibri'; }
.fw-300 { font-weight: 300; }
.fw-400 { font-weight: normal; }
.fw-700 { font-weight: bold; }
.fw-900 { font-weight: 900; }
/** font face **/
