// ionclude all your related style here in the footer, you can leave it empty if the page has no footer
footer { z-index: 2; position: relative; background-color: rgba($coBlack, 0.1); }
.footer-content { }

.footer-top { padding-top: 70px; padding-bottom: 50px; background-color: $coMossGreen2; color: $coWhite; @extend .link-white; }
.fo-to-title { margin-bottom: 20px; padding-bottom: 10px; border-bottom: 1px solid $coWhite; }
.fo-to-input { padding: 10px 0; background-color: transparent; border: none; border-bottom: 1px solid $coWhite; color: inherit; font-size: inherit; @extend .mobile-input;
	@include placeholder{ color: inherit; }

	&:hover, &:focus { color: inherit; background-color: transparent; outline: none !important; box-shadow: none !important; border-color: $coWhite; }
}

.fo-to-list {
	> li { margin-bottom: 30px;
		&:last-child { margin-bottom: 0; }
	}
}

.fo-to-sns {
	> li { display: inline-block; vertical-align: middle; margin-right: 17px;
		&:last-child { margin-right: 0; }

		a { display: block; color: inherit; }
	}
}

.fo-to-links {
	> li { margin-bottom: 10px;
		&:last-child { margin-bottom: 0; }

		a { color: inherit; @extend .link; }
	}
}

.footer-bottom { padding-top: 20px; padding-bottom: 20px; background-color: $coMossGreen; color: $coWhite; @extend .small-caption, .link-white; }
.fo-bo-links {
	> li { display: inline-block; vertical-align: top; padding-right: 30px;
		&:last-child { padding-right: 0; }

		a { display: block; color: inherit; }
	}
}