// ionclude all your related style here in the header, you can leave it empty if the page has no header
html, body { height:100%; min-height:100%; }
header {}
.header-content { z-index: 100; position: fixed; top: 0; left: 0; width: 100%; padding-top: 15px; padding-bottom: 15px; transition: background 0.5s, box-shadow 0.5s;
	&.header-absolute { position: absolute; }
	&.header-down { background-color: $coWhite; box-shadow: 0 3px 10px rgba($coBlack, 0.03); }

	.logo { margin-right: 40px; }

	@include breakpoint(md) { padding-top: 40px; padding-bottom: 40px; }

	@include breakpoint(mobile) {
		.logo { margin-right: 20px;
			img { max-width: 120px; }
		}
	}
}

.menu {
	> ul {
		> li { display: inline-block; vertical-align: middle; margin-right: 30px;
			a {
				&:not(.button) { display: block; color: inherit; font-weight: bold; color: $coGray1; }
			}
			&:hover, &.active {
				a:not(.button) { color: $coMossGreen; }
			}

			&:last-child { margin-right: 0; }
		}
	}
}