.ho-app-box { padding: 48px; background-color: $coWhite; color: $defaultColor;
	> .row {
		> [class*="col"] { padding-bottom: 50px; margin-bottom: 50px; border-bottom: 1px solid $coGray2;
			&:last-child { padding-bottom: 0; margin-bottom: 0; border-bottom: none; }
		}

		// @include breakpoint(md) { }

		@include breakpoint(lg) { margin-left: -50px; margin-right: -50px;
			> [class*="col"] { padding-bottom: 0; margin-bottom: 0; padding-left: 50px; padding-right: 50px; border-bottom: none; border-right: 1px solid #000; border-right: 1px solid $coGray2;
				&:last-child { border-right: none; }
			}
		}
	}

	@include breakpoint(tablet2) { padding: 24px; }
}

.ho-co-form {
	.form-group { margin-bottom: 40px; }
}

.ho-co-input { padding: 8px 0; border: none; border-bottom: 1px solid $coGray2; @extend .mobile-input;
	&:active, &:focus { border-bottom-color: $coGray2; box-shadow: none !important; outline: none !important; }
}
textarea.ho-co-input { height: 41px; resize: none; }

.ho-app-par {
	h3 { margin-bottom: -5px; }
	h4 { font-size: 42px; }
	
	@include breakpoint(mobile) {
		h4 { font-size: 34px; }
	}
}

.ho-feat-box { padding: 20px; background: url('../img/home/banner_featured.jpg'); }
.hf-bo-main { background-color: $coWhite; }

.hf-bo-box { padding: 60px;
	&.box-v2 { background-color: $coNude; color: $coWhite; @extend .link-white; }

	@include breakpoint(desktop) { padding: 40px; }
	@include breakpoint(mobile) { padding: 24px; }
}

.hf-bo-link { display: block; position: relative; padding: 18px 0; color: inherit;
	&:before, &:after { content: ''; display: block; position: absolute; left: 0; width: 100%; box-shadow: 0 3px 6px rgba($coBlack, 0.16); }
	&:before { top: 0; border-top: 1px solid $coWhite; }
	&:after { bottom: 0; border-bottom: 1px solid $coWhite; }

	&:hover { color: inherit; }
}

.ho-stu-par { border-bottom: 4px solid $coGray3; }

.ho-pr-set { display: block; color: inherit;
	&:hover { color: inherit; }
}