.com_line-content { position: relative; overflow: hidden;
	> .container-fluid, > .container { z-index: 3; position: relative; }

	&.bp-ab { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }
}
.com_line-item { position: absolute; --x: 0; --y: 0; --z: 0; transform: translate3d(var(--x),var(--y),var(--z));
	path { --dash: 1500; stroke-dasharray: var(--dash); stroke-dashoffset: var(--dash); animation: dash 10s 2s infinite; }

	&.item-1 { top: -150px; left: 0; width: 100%;
		@include breakpoint(desktop) { max-width: 50%; }
		@include breakpoint(tablet2) { max-width: calc(100% - 15px); }
	}
	&.item-2 { bottom: -200px; left: 50%; --x: -50%;
		path { --dash: 1700; }

		@include breakpoint(desktop) { bottom: -20vh; width: 100%; }
	}
	&.item-3 { top: -270px; left: 50%; --x: calc(-50% - 780px);
		path { --dash: 1400; }
	}
	&.item-4 { bottom: 25px; right: -290px;
		path { --dash: 1300; }
	}
	&.item-5 { top: -25px; left: 50%; --x: calc(-50% + 350px);
		@include breakpoint(tablet2) { left: 100%; max-width: 300px; --x: calc(-50%); }
	}
	&.item-5-a { bottom: -200px; left: 50%; --x: calc(-50% - 100px); }
	&.item-6 { bottom: 25px; left: 0; --y: calc(50% - 90px);
	}
	&.item-7 { top: -220px; right: -100px; }
	&.item-8 { bottom: 50px; right: -170px;
		@include breakpoint(tablet2) { bottom: -100px; }
	}
	&.item-9 { bottom: 450px; left: 50%; --x: calc(-50% + 60px);
		@include breakpoint(tablet2) { bottom: 80vh; left: 90%; width: 90%; --x: calc(-50%); }
	}
	&.item-10 { bottom: -450px; left: -300px;
		path { --dash: 2500; }
	}
	&.item-11 { bottom: -200px; left: 30px; }
	&.item-12 { top: -400px; left: 50%; --x: calc(-50% + 100px);
		@include breakpoint(tablet2) { width: 50%; --x: calc(-50%); }
		@include breakpoint(phablet) { top: -350px; width: 75%; }
	}
	&.item-13 { top: 585px; left: -15px; width: calc(100% + 30px);
		path { --dash: 2000; }

		@include breakpoint(tablet2) { left: 50%; width: 150%; --x: -50%; }
	}
	&.item-14 { top: 1150px; right: -150px;
		@include breakpoint(tablet2) { top: calc(140vh + 15px); }
	}
	&.item-15 { top: 1800px; right: -23%; width: 92%;
		path { --dash: 2000; }

		@include breakpoint(tablet2) { top: inherit; bottom: -150px; right: -100px; width: 100%; }
		@include breakpoint(mobile) { bottom: 0; right: -150px; width: 200%; }
	}
	&.item-16 { top: -350px; left: calc(50% + 100px); --x: -50%;
		@include breakpoint(tablet2) { top: -300px; left: calc(50% + 200px); }
	}
	&.item-17 { bottom: -100px; left: -100px;
		@include breakpoint(tablet2) { bottom: 45vh; }
	}
	&.item-18 { bottom: -200px; right: -100px;
		@include breakpoint(tablet2) { right: -50px; }
	}
	&.item-19 { bottom: -25px; left: -50px;
		@include breakpoint(tablet2) { width: 50%; }
		@include breakpoint(mobile) { left: 15px; width: 50%; }
	}
	&.item-20 { top: -150px; left: 0;
		path { --dash: 2000; }

		@media (max-width: 1200px) { width: 100%; }
	}
	&.item-21 { bottom: 150px; right: 50px;
		@include breakpoint(tablet2) { right: -30px; }
	}
	&.item-22 { top: -100px; left: -150px; }
	&.item-23 { top: 50%; right: -50%; width: 100%; --y: -50%;
		path { --dash: 2500; }
	}
	&.item-24 { top: -300px; right: -200px;
		path { --dash: 2000; }

		@media (max-width: 1200px) { top: -150px; right: -100px; width: 150%; }
	}
	&.item-25 { top: 50%; left: -120px; --y: -50%; }
	&.item-26 { top: -300px; left: 50%; --x: calc(-50% - 300px);
		@include breakpoint(tablet2) { width: 50%; --x: calc(-50%); }
		@include breakpoint(mobile) { top: -150px; }
	}
	&.item-27 { bottom: 180px; left: 50%; --x: calc(-50% - 50px); }
	&.item-28 { bottom: 0; left: 50%; --x: calc(-50% - 250px); }
	&.item-29 { top: 50%; right: -100px; --y: calc(-50% - 100px);
		@include breakpoint(tablet2) { right: -25%; width: 75%; }
	}

	&.item-30 { top: -300px; left: 50%; --x: calc(-50% + 200px);
		@include breakpoint(tablet2) { width: 45%; --x: -50%; }
		@include breakpoint(mobile) { width: 75%; }
	}
	&.item-31 { bottom: 50px; left: 50%; --x: calc(calc(-50% + 100px));
		@include breakpoint(tablet2) { bottom: calc(50vh - 150px); }
	}
	&.item-32 { top: 50%; left: 0; --x: calc(-50% - 100px); --y: calc(-50% + 100px); }
}
@keyframes dash {
	0% { opacity: 1; stroke-dashoffset: var(--dash); }
	50%, 90% { opacity: 1; stroke-dashoffset: 0; }
	95%, 100% { opacity: 0; }
}