.lo-co-input { padding: 10px 0; background-color: transparent; border: none; border-bottom: 1px solid $coGray3; font-weight: 300; @extend .mobile-input, h5;
	@include placeholder { font-style: italic; }

	&:focus, &:active { outline: none !important; box-shadow: none !important; }
}

.lo-co-main {
	.form-group { margin-bottom: 36px;
		&:last-child { margin-bottom: 0; }
	}

	.form-control { @extend .lo-co-input; }
}