 // this is area is for reserved class
#main-container { height:100%; height: auto !important; min-height:100%; }
.hide { position:relative;}
.ease,a,input[type="submit"],button { transition: all 0.5s ease; }
.ease2 { transition: all 0.3s ease; }
.ease-none { transition: none; }
.auto { max-width:$maxWidth; margin-left: auto; margin-right: auto; }
#main-wrapper { }
.fl { float:left; outline: 1px solid red; }
.fr { float:right; }
.clr { display: block; float:none; clear:both; }


.bp-set { display:inline-block; *display:inline;
  &.vm { vertical-align:middle; }
  &.vt { vertical-align:top; }
  &.vb { vertical-align:bottom; }
}
.bp-box { @include box-sizing(border-box); }
.bp-rel { position:relative; }
.bp-ab { position:absolute; }
.co-black { color: $coBlack; }
.co-white { color: $coWhite; }
.co-gray { color: $coGray1; }
.co-gray-2 { color: $coGray2; }
.co-gray-3 { color: $coGray3; }
.co-moss-green { color: $coMossGreen; }

.bg-moss-green { background-color: $coMossGreen; }
.bg-moss-green-2 { background-color: $coMossGreen2; }

.pad-edge { padding-left: 15px; padding-right: 15px; }
.bp-img {
  img { max-width: 100%; height: auto; }
  &.wide img { display: block; width: 100%; }
}
.bp-nocurve { @include border-radius(0); }
.bp-curve { @include border-radius(5px); }
.bp-circle { @include border-radius(50%); }
.mobile-input { @include appearance(none); border-radius: 0; }
.bp-centralize { transform: translate3d(0, -50%, 0); }
.bp-centralize2 { transform: translate3d(-50%, 0, 0); }
.bp-centralize3 { transform: translate3d(-50%, -50%, 0); }
.no-margin { margin: 0; }
.no-padding { padding: 0; }

.pt1 { padding-top: 10px; }
.pt2 { padding-top: 20px; }
.pt3 { padding-top: 30px; }
.pt4 { padding-top: 40px; }
.pt5 { padding-top: 50px; }

.pb1 { padding-bottom: 10px; }
.pb2 { padding-bottom: 20px; }
.pb3 { padding-bottom: 30px; }
.pb4 { padding-bottom: 40px; }
.pb5 { padding-bottom: 50px; }

.mt1 { margin-top: 10px; }
.mt2 { margin-top: 20px; }
.mt3 { margin-top: 30px; }
.mt4 { margin-top: 40px; }
.mt5 { margin-top: 50px; }

.mb1 { margin-bottom: 10px; }
.mb2 { margin-bottom: 20px; }
.mb3 { margin-bottom: 30px; }
.mb4 { margin-bottom: 40px; }
.mb5 { margin-bottom: 50px; }

@include breakpoint(tablet2) {
	.pt2 { padding-top: 10px; }
	.pt3 { padding-top: 20px; }
	.pt4 { padding-top: 30px; }
	.pt5 { padding-top: 40px; }

	.pb2 { padding-bottom: 10px; }
	.pb3 { padding-bottom: 20px; }
	.pb4 { padding-bottom: 30px; }
	.pb5 { padding-bottom: 40px; }

	.mt2 { margin-top: 10px; }
	.mt3 { margin-top: 20px; }
	.mt4 { margin-top: 30px; }
	.mt5 { margin-top: 40px; }

	.mb2 { margin-bottom: 10px; }
	.mb3 { margin-bottom: 20px; }
	.mb4 { margin-bottom: 30px; }
	.mb5 { margin-bottom: 40px; }

	.mob-pt1 { padding-top: 10px; }
	.mob-pt2 { padding-top: 20px; }
	.mob-pt3 { padding-top: 30px; }
	.mob-pt4 { padding-top: 40px; }
	.mob-pt4 { padding-top: 50px; }

	.mob-pb1 { padding-bottom: 10px; }
	.mob-pb2 { padding-bottom: 20px; }
	.mob-pb3 { padding-bottom: 30px; }
	.mob-pb4 { padding-bottom: 40px; }
	.mob-pb5 { padding-bottom: 50px; }

	.mob-mt1 { margin-top: 10px; }
	.mob-mt2 { margin-top: 20px; }
	.mob-mt3 { margin-top: 30px; }
	.mob-mt4 { margin-top: 40px; }
	.mob-mt5 { margin-top: 50px; }

	.mob-mb0 { margin-bottom: 0; }
	.mob-mb1 { margin-bottom: 10px; }
	.mob-mb2 { margin-bottom: 20px; }
	.mob-mb3 { margin-bottom: 30px; }
	.mob-mb4 { margin-bottom: 40px; }
	.mob-mb5 { margin-bottom: 50px; }
	.mob-mb6 { margin-bottom: 60px; }

	.mob-img-pull { margin-left: -15px; margin-right: -15px; }
	.mob-gh-0 { min-height: 0 !important; }
}
.bp-preloader { z-index: 9999; opacity: 1; position:fixed; top: 0; left: 0; width:100%; height:100%; background-color: $coWhite; overflow:hidden; transition: opacity 0.5s;
	&.fade { opacity: 0; }
}
.spinner { position: absolute; width:80px; height:80px; top: 50%; left: 50%; margin-left:-40px; margin-top:-40px; animation: rotate 2.0s infinite linear;
	span { display: inline-block; position: absolute; width:60%; height:60%;  top: 0; background-color:$coBlack; border-radius: 100%; animation: bounce 2.0s infinite ease-in-out;
		&:nth-child(2) { top: auto; bottom: 0px; @include animation-delay( -1.0s); }
	}
}
@keyframes rotate { 100% { transform: rotate(360deg); } }
@keyframes bounce { 0%, 100% { transform: scale(0.0); } 50% { transform: scale(1.0); } }

// you can include here the rest of your class name eg. home page
.scrolling-touch { overflow-scrolling: touch; -webkit-overflow-scrolling: touch; }

.container-fluid {
	@include breakpoint(lg) { padding-left: 40px; padding-right: 40px; }
}
.container { max-width: 1160px; padding-left: 0; padding-right: 0;
	&.width-2 { max-width: 1031px; }
	&.width-small { max-width: 495px; }
}

.section {
	> .container-fluid { padding-bottom: 100px;
		&:first-child { padding-top: 58px; }

		@include breakpoint(tablet2) { padding-bottom: 80px; }
	}

	&:first-child {
		> .container-fluid {
			&:first-child {
				.container { padding-top: 15px; }
			}
		}
	}

	&:last-child { z-index: 3; position: relative;
		&:not([class*="bg"]) { background-color: $coWhite; }
	}
}

// for inview
.animate, .anim-content, .animated { opacity: 0; }
.animated.visible, .anim-content.visible { animation-fill-mode: forwards; }
.anim-content.visible { animation: animRun 0.5s ease forwards; }
@keyframes animRun {
	0% { opacity: 0; transform: translateY(40px); }
	100% { opacity: 1; transform: translateY(0); }
}

// for rows
.row {
	@include breakpoint(lg) {
		&.row-medium { margin-left: -20px; margin-right: -20px;
			> [class*="col"] { padding-left: 20px; padding-right: 20px; }
		}
		&.row-large { margin-left: -30px; margin-right: -30px;
			> [class*="col"] { padding-left: 30px; padding-right: 30px; }
		}
	}

	&.row-small { margin-left: -10px; margin-right: -10px;
		> [class*="col"] { padding-left: 10px; padding-right: 10px; }
	}
}

.com_twentytwenty { padding-top: 24px; padding-bottom: 24px;
	img { top: 24px; box-shadow: 0 3px 6px rgba($coBlack, 0.16); }

	.twentytwenty-overlay { background-color: transparent !important; color: $coMossGreen;
		> div { opacity: 1; font-style: italic; font-weight: 300;
			&:before { min-width: 93px; padding: 0 15px; background-color: $coWhite; color: inherit; font-size: inherit; text-align: center; }
		}
	}
	.twentytwenty-before-label {
		&:before { left: 0; }
	}
	.twentytwenty-after-label {
		&:before { right: 0; }
	}

	.twentytwenty-handle { top: 0; width: auto; height: 100%; margin: 0; border: none; border-left: 1px solid $coBlack;  box-shadow: none;
		&:before, &:after { content: ''; display: block; width: 0; height: 100%; margin: 0; padding: 10px; background-color: transparent; box-shadow: none; }
		&:before { top: 0; left: calc(50% - 10px); bottom: inherit; }
		&:after { display: none; }

		span { display: none; }
	}

	// .twentytwenty-horizontal .twentytwenty-before-label:before
}

.twentytwenty-container {
	img { width: 100%; }
}

.com_main-height { padding-top: 50px !important; padding-bottom: 50px !important; }

// for sneaky slider
.nav-1 {
	.owl-nav {
		button { position: absolute; top: 0; width: 100%; height: 100%; outline: none !important; box-shadow: none !important;
			&.owl-prev { right: 100%; }
			&.owl-next { left: 100%; }
		}
	}
}

.car-1 {
	.owl-dots { display: flex; align-items: center; justify-content: center; margin-top: 48px;
		button { width: 10px; height: 10px; margin-right: 15px; background-color: #ebeff1; border-radius: 50%; outline: none !important; box-shadow: none !important;
			&.active { background-color: #667c88; }

			&:last-child { margin-right: 0; }
		}

		@include breakpoint(tablet2) { margin-top: 24px; }
	}
}

.com_sneaky-carousel {
	&.owl-carousel {
		&.row { margin-left: 0; margin-right: 0; }

		.owl-stage-outer { overflow: visible !important; }

		&:not(.carousel-wide) { left: 45px; width: calc(100% - 90px); }

		&:not([class*="nav-"]) { @extend .nav-1; }
		&:not([class*="car-"]) { @extend .car-1; }

		.owl-dots {
			&.disabled { display: none !important; }
		}
	}

	.owl-item {
		> [class*="col"] { padding-left: 0; padding-right: 0; }
	}
}

html {
	&:not(.bp-touch) {
		.com_sneaky-carousel.owl-carousel.car-1 .owl-dots button:hover { background-color: #667c88; }
	}
}