// include all your new classess here that is intended for mobile. Only if necessary but please use breakpoints mixins
.menu-bar { width: 25px; margin-left: 15px; cursor: pointer;
	> span { display: block; height: 2px; margin: 6px 0; background-color: #CCCCCC; transition: transform 0.3s; }

	&.active {
		> span {
			&:nth-child(1) { transform: rotate(45deg) translate3d(6px,5px,0); }
			&:nth-child(2) { transform: scale(0); }
			&:nth-child(3) { transform: rotate(-45deg) translate3d(6px,-5px,0); }
		}
	}
}

.mobile-menu { display: none;
	&.main, &.cover { position: fixed; top: 0; left: 0; width: 100%; height: 100%; }

	&.main { z-index: 90; padding-top: 80px; overflow: hidden; overflow-y: auto; @extend .scrolling-touch; }
	&.cover { z-index: 89; background-color: $coWhite; overflow: hidden; }

	.menu {
		> ul {
			> li { display: block; margin-right: 0; margin-bottom: 15px;
				&:last-child { margin-bottom: 0; }
			}
		}
	}

	.com_line-item { opacity: 0; width: calc(100% - 15px);
		&.item-1 { top: 50px; }
		&.item-18 { bottom: -200px; right: -200px; }
	}
}

.mo-me-main { padding: 15px; }

.menu-mobile-active { height: 100vh; pointer-events: none;
	body { position: relative; pointer-events: none; overflow: hidden; }
	header, .header-contents, .mobile-menu { pointer-events: auto; }

	.header-content { @extend .header-content.header-down; }

	.mobile-menu {
		.com_line-item { opacity: 1; }
	}
}