.pr-co-box { padding: 55px 50px; background-color: $coWhite;
	@include breakpoint(tablet2) { padding: 40px; }
	@include breakpoint(mobile) { padding: 24px; }
}

.pc-bo-list { padding-top: 15px; padding-bottom: 15px; border-top: 1px solid $coGray1; border-bottom: 1px solid $coGray1; color: $coGray1; @extend h5;
	ul {
		li { margin-bottom: 10px;
			&:last-child { margin-bottom: 0; }
		}
	}

	.link {
		&:hover { color: $coMossGreen; }
	}
}

.pr-de-list {
	> li { margin-bottom: 20px;
		&:last-child { margin-bottom: 0; }
	}
}

.pd-li-set { padding: 30px 30px 15px 30px; color: $coMossGreen; background-color: $coWhite; box-shadow: 0 3px 6px rgba($coBlack, 0.16); transition: background 0.5s, box-shadow 0.5s, color 0.5s;
	.pl-se-title { padding-top: 10px; margin-bottom: 30px; }

	&:hover, &.active { box-shadow: none; background-color: $coNude; color: $coWhite;
		.pl-se-btn { @extend .pl-se-btn.active; }
	}

	@include breakpoint(mobile) { padding: 24px 15px 15px 15px;
		.pl-se-title { padding-top: 0; }
	}
}

.pl-se-bottom {
	> * { padding-right: 15px;
		&:last-child { padding-right: 0; }

		&.d-flex { width: 100%; }
	}
}

.pl-se-user { display: flex; align-items: center; min-width: 200px;
	> * { margin-bottom: 0; margin-right: 20px;
		&:last-child { margin-right: 0; }
	}

	.icon { position: relative; min-width: 69px; width: 69px; border: 4px solid $coWhite; border-radius: 50%; overflow: hidden;
		img { border-radius: 50%; }
	}
}

.pl-se-list { display: flex;
	> li { padding-right: 10px; margin-right: 40px;
		&:last-child { margin-right: 0; }
	}

	@include breakpoint(mobile) { display: block;
		> li { margin-right: 0; margin-bottom: 15px;
			&:last-child { margin-bottom: 0; }
		}
	}
}

.pl-se-btn { font-weight: normal; box-shadow: 0 3px 6px rgba($coBlack, 0.16);
	&:hover, &.active { background-color: $coWhite; color: $coNude; }
}