// includes all tags for paragraphs and titles such as header, p, span
h1 { font-size: 72px; }
h2 { font-size: 61px; }
h3 { font-size: 56px; line-height: 1.16; }
h4 { font-size: 45px; }
h5 { font-size: 25px; }
h6 { font-size: 0.67em; }

@include breakpoint(tablet2) {
	h1 { font-size: 60px; }
	h2 { font-size: 51px; }
	h3 { font-size: 46px; }
	h4 { font-size: 36px; }
	h5 { font-size: 20px; }
}

@include breakpoint(mobile) {
	h1 { font-size: 50px; }
	h2 { font-size: 40px; }
	h3 { font-size: 38px; }
	h4 { font-size: 30px; }
	h5 { font-size: 18px; }
}

.big-header { font-size: 84px; line-height: 3.95; }
.medium-header { font-size: 65px; line-height: 2.39; }
.medium-caption { @extend h5; }
.small-caption { font-size: 16px; line-height: 1.3; }

@include breakpoint(tablet2) {
	.big-header { font-size: 60px; }
	.medium-header { font-size: 56px; }
}

@include breakpoint(mobile) {
	.big-header { font-size: 56px; }
	.medium-header { font-size: 54px; }
}

.section-title {
	&:not([class*="mb"]) { margin-bottom: 50px; }

	> * { margin-bottom: 20px;
		&:last-child { margin-bottom: 0; }
	}

	&:not(.co-white) {
		h1, h2, h3, h4 { color: $coMossGreen; }
	}

	h1, h2, h3, h4 {
		&:not([class*="mb"]) { margin-bottom: 30px; }
	}

	@include breakpoint(tablet2) {
		&:not([class*="mb"]) { margin-bottom: 36px; }
	}
}

.section-par {
	> * { margin-bottom: 16px;
		&:last-child { margin-bottom: 0; }
	}

	&.par-2 {
		> * { margin-bottom: 30px;
			&:last-child { margin-bottom: 0; }
		}
	}
}

.phone-capt { font-size: 18px; color: $coMossGreen; }

.title-shadow, .text-shadow { text-shadow: 0 3px 6px rgba($coBlack, 0.16); }