// include all templated CSS properties here such as font sizes, margin, padding, color, background color, etc

// for width
$maxWidth   : 1024px; // can be use as max width of the container

// for fonts
$defaultFont: 'Lato', 'Helvetica', 'Calibri'; // default font families and error support for any html tags
$fontA      : 'Lato', 'Helvetica', 'Calibri';
$fontB      : 'Roboto', 'Helvetica', 'Calibri';
$fontC      : 'ITC Benguiat', 'Helvetica', 'Calibri';
$FontAwesome: 'Font Awesome 5 Pro';

// for font sizes
$fontSmall  : 12px;
$fontMedium : 14px;
$fontLarge  : 16px;
$fontxLarge : 18px;
$fontxxLarge: 20px;

// for colors
$defaultColor     : #000000; // default color for the independent paragraphs, input fields, etc
$defaultLinkColor : #3189DD; // default link color for the whole site
$coWhite          : #ffffff;
$coBlack          : #000000;

$coGray1          : #B2B2B2;
$coGray2          : #D5D5D5;
$coGray3          : #707070;

$coMossGreen      : #636A4B;
$coMossGreen2     : #798060;

$coOrange         : #FDAD54;

$coNude           : #D5B199;

// for margin and padding
$spaceOne   : 10px;
$spaceTwo   : 20px;
$spaceThree : 30px;
$spaceFour  : 40px;
$spaceFive  : 50px;